/* This stylesheet contains styles for the 
cart section only, for general styles look
in app.css
*/

/* Containers layout */
.cart-info,
.item-info,
.total-header,
.cart-header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 30px;
}

.cart-header {
    justify-content: center;
}

.cart-info,
.cart-header {
    margin-top: 50px;
}


/* Colors */
.cart-info h1 {
    color: var(--donutland-purple);
}

.total-header h1 {
    color: black;
}

.item-info {
    border-bottom: 5px solid var(--donutland-pink);
}

.cart-info,
.cart-header {
    color: var(--donutland-purple);
}

/* Order button */
button {
    background: var(--donutland-purple);
    color: white;
}

.order-button {
    height: 75px;
    font-size: 2rem;
}

/* Queries */
@media screen and (max-width: 450px) {

    .cart-info {
        font-size: 8px;
    }

}